.rbc-time-header-content {
    height: 24px;
    background-color: #E4E4F0
}

.rbc-header {
    color: #717182;
    font-family: "Inter", sans-serif;
    font-size: 18px !important;
    border-bottom: none !important;
    line-height: 18px;
    letter-spacing: 0.16px;
    font-weight: 400px !important;

}

.rbc-label {
    color: #C8C8DD;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

.rbc-event-label {
    display: none !important;
}

.rbc-event {
    background-color: #c8dfff59 !important;
    border: 1px solid #5c6FCB !important;
    color: #000 !important;
    border-left: 8px solid #0066b0 !important;

    .events {
        .title {
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            line-height: 18px;
            font-weight: 700;
            letter-spacing: 0.16px;
        }

        span {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            line-height: 18px;
        }
    }
}

.rbc-time-view .rbc-time-gutter {
    background-color: #F5F5FA;
}

.rbc-button-link {
    color: #717182;
    font-family: 'Inter';
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    font-weight: 700;
    background-color: #E4E4F0;
}

.rbc-header {
    background-color: #E4E4F0;
    height: 30px;
    line-height: 25px;
    font-family: 'Roboto';
    color: #717182;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.16px;
}

.rbc-button-link {
    color: #A8A8BD !important;
}

.dialog {
    display: flex;
    text-transform: capitalize;
    flex-direction: column;

    .card {
        display: flex;
        flex-direction: column;
        padding: 1rem .5rem;

        label {
            margin-bottom: 10px;
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
            font-family: 'Inter';
        }
    }
    .date{
        display: flex;
        margin-bottom: 40px;
        label{
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
            font-family: 'Inter';
        }
        .p-calendar {
            position: relative;
            display: inline-flex;
            max-width: 96%;
            height: 34px;
        }
    }
    .btn-footer{
        display: flex;
        justify-content: space-between;
    }
}
